
header {
	text-align: center;
	position: relative;
	margin-top: 60px;
    line-height: 1.1;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    height: auto;
}

header .toggle-wrapper {
    width: 100%;
    height: 50%;
    pointer-events: none; /* Prevent the wrapper from interfering with clicks */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}

header .title {
    font-family: $title-font, serif;
    font-size: 52px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: $name-blur-color;
    font-display: swap;
}

header .namehighlight {
    color: $text-color;
    // color: transparent;
    // background-image: linear-gradient(#333333, #775555, #ffd1d2);
    // background-clip: text;
}

@media only screen and (max-width: 600px) {

    header .title {
        margin-bottom: 10px;
    }

    header .title {
        font-size: 44px;
    }

}
