
<header>
    <div class='toggle-wrapper'>
        <label>
            <input class='toggle-checkbox' type='checkbox'></input>
            <div class='toggle-slot'>
              <div class='sun-icon-wrapper'>
                <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
              </div>
              <div class='toggle-button'></div>
              <div class='moon-icon-wrapper'>
                <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
              </div>
            </div>
        </label>
    </div>
    <a href="/" class="title">
      {{ $title := .Site.Title | safeHTML }}
      {{ $dashPattern := "-([^ -]+) ([^-]+)-" }}
      {{ $highlighted := replaceRE $dashPattern "-<span class=\"namehighlight\">$1 $2</span>-" $title }}
      {{ $highlighted | safeHTML }}
    </a>
</header>
