
<!DOCTYPE html>
<html lang="en">

    {{- partial "head.html" . -}}

    <body>

        <div class="outer">
            <div class="middle">
                <div class="inner">
                    
                    {{- partial "header.html" . -}}
                    {{- partial "navigation.html" . -}}
                    
                    <main>
                        {{ block "main" . }} {{ end }}
                    </main>

                    {{- partial "footer.html" . -}}

                </div>
            </div>
        </div>

        {{- partial "math.html" . -}}

    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggle = document.querySelector('.toggle-checkbox');
            
            // Check if a theme is saved in localStorage and apply it
            if (localStorage.getItem('theme') === 'dark') {
                document.body.classList.add('dark-theme');
                toggle.checked = true; // Set the checkbox to checked if dark theme is saved
            }
        
            // Add event listener for the toggle button
            toggle.addEventListener('change', function() {
                if (toggle.checked) {
                    document.body.classList.add('dark-theme');
                    localStorage.setItem('theme', 'dark');
                } else {
                    document.body.classList.remove('dark-theme');
                    localStorage.setItem('theme', 'light');
                }
            });
        });
    </script>
    </body>
</html>
